@font-face{
	src:url(fonts/anurati.otf);
	font-family: anurati;
}

.wrapper{
	width: 100%;
	margin: 0px auto;
	font-family: anurati;
	color: rgba(255,255,255,1);
	background-color: black;
}
#header{
	background-image: url(images/13995.jpg);
	height: 200px;
	background-position: center;
	background-repeat: repeat-y;
}
nav{
	position: fixed;
	height: 28px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
}
h1{
	background-color: rgba(0,0,0,0.5);
	position: relative;
	top: 31.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	padding: 10px 0px;
	text-align: center;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.footer{
	background-image: url(images/13995.jpg);
	height: 100px;
	background-position: center bottom;
	background-repeat: repeat-y;

}
.main{
	height: 600px;
	background-image: url(images/ac.jpg);
	background-position: center;
	background-repeat: repeat-y;
}
a{
	text-decoration: none;
	color: white;
}
.list,.list1,#contact{
	margin-left: 50px;
}
.list1 a{
		line-height: 20px;
}
.menu{
	margin-left:20px;
}
.menu a{
	margin: 5px;
	color: white;
	float: left;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
a:hover{
	color:red;
}
#contact a{
	color: white;
	line-height: 23px;
}
#contact a:hover{
	color: red;
}
#about{
	line-height: 18px;
	word-spacing: 3px;
}
